/*******Start Blue Theme*********/

.navbar-inverse .navbar-nav > .active > a {
  background-color: #2f00ff;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #2f00ff;
}

.navbar-brand span {
  color: #2f00ff;
}

.dropdown-menu > li > a:hover {
  background-color: #2f00ff;
}

.dropdown-menu > li > a {
  background-color: #222222;
}

.carousel-indicators .active {
  background-color: #2f00ff;
}

.option-box .color-option {
  border: 2px solid#333;
}

.option-box .color-option{
  color: #FFF;
  background-color: #333;
}

.option-box .color-option ul li {
  background-color: #2f00ff;
}

.option-box .gear-check {
  background-color: #2f00ff;
}

.about h1 span {
  color: #2f00ff;
  
}

.testimonails span {
  color: #2f00ff;
}

.testimonails .carousel-indicators li.active {
  border: 2px solid #2f00ff;
}

.footer read {
  color: #2f00ff;
}

#scroll-top {
  color: #2F00FF;
}

/*******End Blue Theme*********/
