/*******Start Purple Theme*********/

.navbar-inverse .navbar-nav > .active > a {
    background-color: #e41766;
  }
  
  .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #e41766;
  }

  .navbar-brand span {
    color: #e41766;
  }

  .dropdown-menu > li > a:hover {
    background-color: #e41766;
  }

  .dropdown-menu > li > a {
    background-color: #222222;
  }

  .carousel-indicators .active {
    background-color: #e41766;
  }

  .option-box .color-option{
    border:2px solid#e41766;   
  }

  .option-box .color-option ul li{
    background-color: #e41766;
  }
  
  .option-box .gear-check{
    background: #e41766;
  }

  .option-box .color-option {
    border: 2px solid#333;
  }

  .option-box .color-option{
    color: #FFF;
    background-color: #333;
  }

  .about h1 span {
    color: #e41766;
  }

  .testimonails span {
    color: #e41766;
  }

  .testimonails .carousel-indicators li.active {
    border: 2px solid #e41766;
  }

  .footer read {
    color: #e41766;

  }

  #scroll-top {
  color: #e41766;
}

/*******End Purplr Theme*********/